@import 'reboot';

// foundation

html {
  font-size: 62.5%;
}

body {
  overflow-wrap: break-word;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p, ul, dl, dt, li, dd {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ff0000;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

// utility

.mark__box-gray {
  margin-right: 5px;
  padding: 0 5px;
  background: #000;
  color: #fff;
}

.page {
  &-enter-active {
    transition: all 0.4s ease;
  }
  &-leave-active {
    transition: all 0.4s ease;
  }
  &-enter {
    transform-origin: top center;
    transform: scale(1.9) rotate(15deg);
    letter-spacing: 3em;
  }
  &-leave-active {
    transform-origin: top center;
    transform: scale(0.1) rotate(-15deg);
    letter-spacing: 3em;
  }
}
